body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.banner {
  position: relative;
  background: url(/images/banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
  padding: 0;
}
.banner:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 400px;
  text-align: center;
}
.banner-heading {
  position: absolute;
  width: 100%;
  color: #ffffff;
  z-index: 9;
  top: 35%;
}
